@model KhamsaCourseProject.Areas.Admin.Dtos.ChangePasswordDto

@{
    ViewData["Title"] = "Parolu Dəyiş";
}

<h1>Parolu Dəyiş</h1>

<h4>Parolu Dəyiş</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ChangePassword" asp-route-id="@Context.Request.Cookies["uid"]">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Password" class="control-label">Yeni Parol</label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword" class="control-label">Yeni Parol Təkrarı</label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Dəyiş" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-controller="Home" asp-area="Admin">Geri</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
